<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function() {
            var socket = io.connect();
            $('#epicbutton').click(function(){
                socket.emit('count');
            });

            $('#clearbutton').click(function(){
                socket.emit('clear');
            });

            socket.on('serverResponse', function(count){
                $('#numcount').html(`${count}`);
            });
        });

    </script>

</head>
<body>
    <div class="container">
        <div class="numberdiv">
            <p id="numcount"></p>
        </div>
        <button id="epicbutton" class="btn-success">Push the Epic Button</button>
        <button id="clearbutton" class="btn-success">Clear</button>
    </div>  <!-- end of container -->
  
</body>
</html>

